streamlit==1.28.0
yt-dlp
moviepy
opencv-python-headless
openai-whisper
--extra-index-url https://download.pytorch.org/whl/cpu
transformers
tweepy
instagrapi
google-api-python-client
PyYAML
Pillow>=10.0.0,<11.0.0
numpy
requests
